matplotlib
numpy
scikit-learn==1.5.2
scipy
tqdm
opencv-python-headless
imutils~=0.5.4
ocrd-fork-pylsd==0.0.3
click==8.1.3
pandas
pip
fastapi[standard]==0.115.0
python-multipart==0.0.12
prometheus-fastapi-instrumentator==7.0.0
